
html *
{
   color: black ;
   font-family: monospace;
}

html {
  height:100%;
}

body {
  margin:0;
}

.bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
.loginForm{
    background-image: url('https://i.gifer.com/origin/89/8971273ae33de51dde07dcda67777345_w200.webp');
    background-size:contain;
    background-repeat: no-repeat;
    background-color: aliceblue;

    height:100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.accountContainer{
  background-image: url('https://i.gifer.com/origin/89/8971273ae33de51dde07dcda67777345_w200.webp');
  background-size:contain;
  background-repeat: no-repeat;
  background-color: aliceblue;

  height:100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.createAccountForm{
  display: flex;
  /* align-self :last baseline; */
  align-items: center;
  flex-direction: column;
  position: fixed;
  top : 30%;
  right : 25%;
}

.loginFormContainer{
    display: flex;
    /* align-self :last baseline; */
    align-items: center;
    flex-direction: column;
    position: fixed;
    right : 20%;
    top : 15%;
    border: 4 px solid black;
}
button {
    background: linear-gradient(135deg, #ADD8E6, #40E0D0, #00FF7F);
    border: none;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin:6px;
  }
  
  button:hover {
    background: linear-gradient(135deg, #00FF7F, #40E0D0, #ADD8E6);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  form {

  background: transparent;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-size: 16px;
  justify-content: flex-end;
  margin: 10px;
  font-size: 16px;
  color:black;
  align-items: flex-start;
 
} 

select {

  background: linear-gradient(135deg, #ADD8E6, #40E0D0, #00FF7F);
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  text-align: center;
  font-size: 16px;
  justify-content: flex-end;
  margin: 10px;
  font-size: 16px;
  color:black;
  align-items: flex-start;
 
} 


form input {
  background: transparent;
  border: none;
  margin-left: 15px;
  border-bottom: inset black;
}

textarea {
  background:transparent;
  outline:none;
  border:none;
  width:100%;
  font-size:20px;
  color:#fff;
}

form:hover {
  background: linear-gradient(135deg, #00FF7F, #40E0D0, #ADD8E6);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.dishContainer{
  display: flex;
  justify-content: space-between;
}
.custom-table{
  font-weight: 100;
}

.custom-table th,
.custom-table td {
  padding: 10px;
  border: 1px solid #ccc;
}

.custom-table th {
  background: transparent;
  color: white;
  font-weight: bold;
}

.custom-table tr:nth-child(even) {
  background-color: #f2f2f2;
  background: transparent;
}


.custom-table tr:hover, th:hover{
  overflow: hidden;
  white-space: normal;
  z-index: 1;
  background-color: #f5f5f5;
}

.feedHeader {
  font-size: 30px;
  color: solid black;
}

.userFeedContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.primaryFeedContainer{
  display: flex;
  flex-direction: column;
  align-items: center;

  
}

.columnContainer{
  display:flex;
  flex-direction: row;
}

.DishForm{
  display:flex;
  flex-direction: row;
  width: 15%;
}


